<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="localhost\MSSQLSERVER2012_NorthwindConnection" connectionString="XpoProvider=MSSqlServer;data source=localhost\MSSQLSERVER2012;user id=sa;password=dx;initial catalog=Northwind;Persist Security Info=true" />
        <add name="NORTHWNDConnection" connectionString="XpoProvider=MSSqlServer;data source=localhost\sqlexpress;integrated security=SSPI;initial catalog=NORTHWND" />
    </connectionStrings>
</configuration>